= render 'application/sub_column', groups: @groups
#main
  .group
    .group__info
      .group__info--name
        = @group.name
      .group__info--member
        MEMBER:
        = @group.users.pluck(:name).join(', ')
    .group__edit
      = link_to edit_group_path(@group) do
        %span
          edit
  .messages
    = render 'groups/messages/message'
    = render 'groups/messages/message'
  .input
    .input__data
      .input__data--text
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      .input__data--image
        .fa.fa-cog
    .input__post
      .input__post--submit
        POST

