= render 'application/sub_column', groups: @groups
#main
  .group
    .group__info
      .group__info--name
        = @group.name
      .group__info--member
        MEMBER:
        = @group.users.pluck(:name).join(', ')
    .group__edit
      = link_to edit_group_path(@group) do
        %span
          edit
  .messages
    = render @messages
  .input
    = form_for [@group, @message] do |f|
      .input__data
        = f.text_field :comment, placeholder: '文字を入れてください', class: 'input__data--text'
        .input__data--image
          .fa.fa-cog
      = f.submit "POST", class: 'input__post'

